@import url(https://fonts.bunny.net/css?family=poppins:400,500&display=swap);

:root {
  --color-primary: #100f20;
  --color-secondary: #201e3d;
  --color-accent: #d12a96;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
  color: white;
}

section {
  margin-bottom: 60px;
  padding: 0 15px;
  scroll-margin-top: 200px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

section.show {
  opacity: 1;
}

#serviciosPage {
  opacity: 1;
}

h1 span {
  background: linear-gradient(124.21deg, var(--color-accent), #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#inicio {
  background-color: #100f20;
  background-image: url(../img/pattern.svg);
}

#inicio .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  position: relative;
}

.textContainer p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

#btnServicios,
#btnContacto,
#btnSubmit {
  border-radius: 2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnServicios,
#btnSubmit {
  transition: 0.3s;
  background-color: var(--color-accent);
  color: white;
  border: none;
}

#btnServicios:hover,
#btnSubmit:hover {
  transition: 0.3s;
  background-color: #a82279;
}

#btnSubmit {
  width: 100%;
  padding: 0.8em;
}

#btnContacto {
  background: rgba(112, 15, 78, 0.3);
  backdrop-filter: blur(5px);
  color: var(--color-accent);
}

.shiny {
  color: var(--color-accent);
  position: relative;
  border: none;
  overflow: hidden;
}

.shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 50px);
  left: calc(var(--x, 0) * 1px - 50px);
  width: 100px;
  height: 100px;
  background: radial-gradient(#81195d, #3985ff00 80%);
  opacity: 0;
  transition: opacity 0.2s;
}

.shiny:hover::after {
  opacity: 0.4;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

#arrowIcon {
  animation: arrow-animation 3s infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; /* Centra horizontalmente el objeto */
  bottom: 10%;
}

/* FIN SECCION INICIO */

.indexSubtitle {
  font-weight: 500;
  color: var(--color-accent);
  margin: 0;
}

.titleContainer {
  background: rgba(236, 35, 165, 0.17);
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  user-select: none;
  box-shadow: 0px 0px 50px -4px rgba(188, 37, 135, 0.2);
}

.highlight {
  color: rgb(255, 255, 255);
  text-decoration: underline var(--color-accent) 4px;
}

#sobreNosotros p {
  color: #b0b0b0;
  height: fit-content;
  margin: 0;
  text-align: justify;
}

#sobreNosotros img {
  width: 9vw;
}

.img-container {
  position: relative;
}

#circle {
  width: 30px;
  height: 30px;
  background-color: #ec23a5;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 35px;
  filter: blur(30px);
}

/* FIN SECCION SOBRE NOSOTROS */

.card {
  padding: 1em;
  background: rgba(112, 15, 78, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 2px;
  height: 100%;
}

.card img {
  width: 60px;
}

.card h3 {
  color: var(--color-accent);
  font-weight: 500;
}

.card p {
  color: #ffffff;
  font-weight: 400;
  line-height: 200%;
  text-align: justify;
}

.card a {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-accent);
  text-decoration: none;
  width: fit-content;
}

/* FIN SECCION SERVICIOS */

form label {
  font-weight: 500;
  font-size: 14px;
  color: white;
  display: block;
  margin-bottom: 1em;
}

input,
textarea {
  background-color: var(--color-secondary);
  border: none;
  color: white;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}

input {
  height: 40px;
}

textarea {
  height: 95px;
}

#contacto p {
  color: #b0b0b0;
}

/* Navbar */
nav,
.navbar-subContainer {
  transition: 0.1s;
  height: 80px;
}

.navbar a {
  transition: background-color 0.3s ease;
  color: white;
}

.navbar a:hover {
  color: white;
}

.custom-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  position: relative;
}

.line {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.line:first-child {
  top: calc(50%);
}

.line:last-child {
  top: calc(50%);
}

.navbar-toggler[aria-expanded="true"] .line:first-child {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .line:last-child {
  transform: rotate(-45deg);
}

.navbar-toggler:not([aria-expanded="true"]) .line:first-child {
  transform: translateY(-4px);
}

.navbar-toggler:not([aria-expanded="true"]) .line:last-child {
  transform: translateY(4px);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  background-color: var(--color-secondary);
  border-radius: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 25px;
  position: absolute;
}

.bg-color {
  background: rgba(37, 35, 61, 0.5);
  backdrop-filter: blur(7.5px);
}

.navbar-nav {
  transition: 0.3s;
}

.navbar-subContainer.scrolled {
  background-color: var(--color-secondary);
  transition: 0.3s;
}

.navbar.scrolled {
  background-color: var(--color-secondary);
  transition: 0.3s;
}

.navbar-toggler.scrolled {
  background-color: var(--color-primary);
  transition: 0.3s;
}

.navbar-subContainer {
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  align-items: center;
}

.nav-item {
  border-radius: 5px;
}

.nav-item.bg-color {
  background-color: var(--color-accent);
  transition: 0.3s;
}

.navbar-brand {
  left: 25px;
  position: absolute;
  opacity: 0;
  transition: 0.2s !important;
}

.mostrar {
  opacity: 1;
  transition: 0.2s !important;
}

footer {
  height: 60px;
  background-color: var(--color-secondary);
}

footer svg {
  width: 20px;
  fill: rgb(255, 255, 255);
  transition: 0.3s;
}

footer svg:hover {
  width: 20px;
  fill: var(--color-accent);
  transition: 0.3s;
}

.iconsContainer {
  display: flex;
  gap: 0.6em;
}

/* PAGINA SERVICIOS */

#serviciosPage {
  margin-bottom: 0;
}

#serviciosPage .container {
  height: 100%;
  min-height: calc(100vh - 60px);
  margin-top: 80px;
  margin-bottom: 80px;
}

button .active {
  background-color: var(--color-accent) !important;
}

.nav-pills {
  --bs-nav-pills-border-radius: 2px;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: var(--color-accent);
}

.nav-pills .nav-link {
  color: var(--color-accent);
  border: var(--color-accent) 1px solid;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
}

#pills-tab {
  display: flex;
  gap: 1em;
}

.scrollspy {
  background-color: var(--color-secondary);
  padding: 2em;
  border-radius: 2px;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.serviciosSubtitle {
  color: var(--color-accent);
  font-size: 1.5em;
  font-weight: 500;
}

#serviciosPage h2 {
  line-height: 200%;
}

/* Estilos para pantallas más pequeñas que 576px */
@media (max-width: 575.98px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 0.8em;
  }

  h3 {
    font-size: 1.2em;
  }

  #serviciosPage h2 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.8em;
  }

  #logo {
    width: 100px;
  }

  .textContainer p {
    font-size: 0.7em;
  }

  #btnContacto,
  #btnServicios {
    font-size: 12px;
    width: 140px;
    height: 35px;
  }
}

/* Estilos para pantallas más grandes o iguales a 576px y más pequeñas que 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 0.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  #serviciosPage h2 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.9em;
  }

  #logo {
    width: 125px;
  }

  .textContainer p {
    font-size: 0.8em;
  }

  #btnContacto,
  #btnServicios {
    font-size: 12px;
    width: 160px;
    height: 35px;
  }
}

/* Estilos para pantallas más grandes o iguales a 768px y más pequeñas que 992px */
@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  #serviciosPage h2 {
    font-size: 1em;
  }

  .card p {
    font-size: 0.9em;
  }

  #logo {
    width: 125px;
  }
  .textContainer p {
    font-size: 0.9em;
  }

  #btnContacto,
  #btnServicios {
    font-size: 14px;
    width: 180px;
    height: 40px;
  }
}

/* Estilos para pantallas más grandes o iguales a 992px y más pequeñas que 1200px */
@media (min-width: 992px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1em;
  }

  #serviciosPage h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.9em;
  }

  #logo {
    width: 150px;
  }
  .textContainer p {
    font-size: 1em;
  }

  #btnContacto,
  #btnServicios {
    font-size: 1em;
    width: 200px;
    height: 40px;
  }

  #sobreNosotros p {
    font-size: 1.2em;
    line-height: 200%;
  }

  #arrowIcon {
    width: 40px;
  }
}

/* Estilos para pantallas más grandes o iguales a 1764px*/
@media (min-width: 1764px) {
  #sobreNosotros p {
    line-height: 400%;
  }
}
